@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Condensed:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff !important;
}


/*parte superior*/


/*  Cuerpo  */

.linea_2 {
    background: #86C332;
    height: 2px;
    width: 100%;
    display: block;
}

.hjf {
    margin-top: -50px;
}

.input.cont {
    width: 450px;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: -5px;
}

.input {
    width: 100%;
    height: 40px;
    position: relative;
}

.input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid silver;
    font-size: 18px;
}

.input label {
    position: absolute;
    left: 0;
    bottom: 10px;
    color: silver;
    font-size: 18px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input input:focus~label,
.input input:valid~label {
    transform: translate(-20px);
    font-size: 15px;
    color: #0099CC;
}

.input input:focus,
.input input:valid {
    border-color: #0099CC;
}

.post-body i {
    width: 12px;
    height: 12px;
}

.icono-placeholder {
    padding: 0.25em 0.6em;
    border-radius: 0.3rem;
    border: 1px solid #d3d6e4;
    text-align: center;
    box-shadow: 0.2px 3px rgba(0 0 0 /0, 15);
    width: 30%;
}

.post-body hr {
    color: #86C332;
    width: 4px;
    height: 4px;
}

.post-list {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.post-img-1 {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-2 {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-3 {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post {
    box-shadow: 0 1px 6px 1 px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .2s;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px solid #000;
    padding: 0px 25px;
}

.post:hover {
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.1);
}

.post-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3 {
    transform: scale(1.1);
}

.post-body {
    padding: 15px;
    text-align: center;
}

.post-body span {
    display: inline-block;
    color: #999;
    margin-bottom: 10px;
    background: #0099CC;
}

.post-body h2 {
    margin-bottom: 15px;
}

.post-body p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.post-body .post-link {
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #86C332;
    color: #fff;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
}

.post-body .post-link:hover {
    background: #659523;
    box-shadow: 1px 7px 6px 1px rgba(0, 0, 0, .1);
    transform: translateY(-2px);
}


/* ----- */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Roboto+Condensed:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #ECEDE8;
}


/*parte superior*/


/* Imagen Ayuda Cliente*/

.cont-hero {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.hero {
    width: 100%;
    height: 1vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    opacity: 0.9;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 63%, 0 86%);
}

.hero::before {
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.hero__container {
    padding: 0;
    grid-template-columns: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
    position: absolute;
    z-index: 10;
    justify-self: center;
    padding-top: 100px;
}

.hero__title {
    font-size: 2.5rem;
    color: #fff;
    padding: 0 0 20px 0;
}

.hero__paragraph {
    margin-bottom: 20px;
    color: #474747;
    font-size: 1.5rem;
}

.cta {
    padding: 10px 15px;
    display: inline-block;
    background-color: transparent;
    color: #474747;
    font-size: 1rem;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid #434343;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

.cta::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: #0077CC;
    transition: all 500ms ease;
    z-index: -1;
}

.btn--3:hover {
    animation: shadow-pulse 1000ms 1;
    background-color: #0077CC;
    color: #fff;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0 #0077CC;
    }
    100% {
        box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
    }
}


/* About */

.about-general {
    text-align: center;
}

.subtitle-at {
    color: #0099CC;
    font-size: 2rem;
    margin-bottom: 25px;
}

.at__paragraph {
    line-height: 1.7;
}

.at__icons {
    display: grid;
    gap: 1em;
    justify-content: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.at__icons i {
    font-size: 40px;
    color: #0099CC;
}

.at__title {
    font-size: 1.8rem;
}

.at__main {
    padding-top: 80px;
    padding-bottom: 40px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

@media (max-width:700px) {
    .hero__title {
        font-size: 2rem;
    }
}


/*  Cuerpo  */

.linea_2 {
    background: #86C332;
    height: 2px;
    width: 100%;
    display: block;
}

.hjf {
    margin-top: -50px;
}

.input.cont {
    width: 450px;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: -5px;
}

.input {
    width: 100%;
    height: 40px;
    position: relative;
}

.input input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 2px solid silver;
    font-size: 18px;
}

.input label {
    position: absolute;
    left: 0;
    bottom: 10px;
    color: silver;
    font-size: 18px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.input input:focus~label,
.input input:valid~label {
    transform: translate(-20px);
    font-size: 15px;
    color: #86C332;
}

.input input:focus,
.input input:valid {
    border-color: #86C332;
}

.post-body i {
    width: 12px;
    height: 12px;
}

.icono-placeholder {
    padding: 0.25em 0.6em;
    border-radius: 0.3rem;
    border: 1px solid #d3d6e4;
    text-align: center;
    box-shadow: 0.2px 3px rgba(0 0 0 /0, 15);
    width: 30%;
}

.post-body hr {
    color: #86C332;
    width: 4px;
    height: 4px;
}

.post-list {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: auto;
}

.post-img-1 {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-2 {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post-img-3 {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: .2s;
}

.post {
    box-shadow: 0 1px 6px 1 px rgba(0, 0, 0, .1);
    overflow: hidden;
    transition: .2s;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px solid #000;
    padding: 0px 25px;
}

.post:hover {
    transform: translateY(-4px);
    box-shadow: 0 1px 14px 2px rgba(0, 0, 0, 0.1);
}

.post-header {
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}

.post:hover .post-img-1,
.post:hover .post-img-2,
.post:hover .post-img-3 {
    transform: scale(1.1);
}

.post-body {
    padding: 15px;
    text-align: center;
}

.post-body span {
    display: inline-block;
    color: #999;
    margin-bottom: 10px;
}

.post-body h2 {
    margin-bottom: 15px;
}

.post-body p {
    line-height: 1.5;
    margin-bottom: 20px;
}

.post-body .post-link {
    display: block;
    text-decoration: none;
    padding: 10px;
    background: #86C332;
    color: #fff;
    width: 50%;
    margin: auto;
    border-radius: 20px;
    box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, .1);
}

.post-body .post-link:hover {
    background: #659523;
    box-shadow: 1px 7px 6px 1px rgba(0, 0, 0, .1);
    transform: translateY(-2px);
}

@media (max-width:600px) {
    .content {
        grid-template-columns: repeat(1, 1fr);
    }
}


/* Diseño Card 2*/

.fondo-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
}

.card-1 {
    position: relative;
    width: 350px;
    height: 420px;
    color: #a18a96;
    background: url(../img/cardarte1.png) center no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 20px;
    box-shadow: rgb(4 17 29 / 50%) 0px 0px 8px 0px;
}

.card-2 {
    position: relative;
    width: 350px;
    height: 420px;
    color: #a18a96;
    background: url(../img/cardarte2.png) center no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 20px;
    box-shadow: rgb(4 17 29 / 50%) 0px 0px 8px 0px;
}

.card-3 {
    position: relative;
    width: 350px;
    height: 420px;
    color: #a18a96;
    background: url(../img/cardarte3.png) center no-repeat;
    background-size: cover;
    border-radius: 20px;
    overflow: hidden;
    margin: 0 20px;
    box-shadow: rgb(4 17 29 / 50%) 0px 0px 8px 0px;
}

.card__content {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-top-left-radius: 20px;
    transform: translateY(70px);
    transition: transform .25s;
}

.card__content::before {
    content: '';
    position: absolute;
    top: -47px;
    right: -45px;
    width: 100px;
    height: 100px;
    transform: rotate(-175deg);
    border-radius: 50%;
    box-shadow: inset 48px 48px #fff;
}

.card__title {
    color: #6A515E;
    line-height: 15px;
}

.card_subtitle {
    display: block;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px 0;
}

.card__description {
    font-size: 14px;
    opacity: 0;
    transition: opacity .5s;
}

.card-1:hover .card__content {
    transform: translateY(0);
}

.card-1:hover .card__description {
    opacity: 1;
    transition-delay: .25s;
}

.card-2:hover .card__content {
    transform: translateY(0);
}

.card-2:hover .card__description {
    opacity: 1;
    transition-delay: .25s;
}

.card-3:hover .card__content {
    transform: translateY(0);
}

.card-3:hover .card__description {
    opacity: 1;
    transition-delay: .25s;
}

.btn-consulta {
    text-align: center;
    justify-content: center;
}

.btn-consulta button {
    padding: 5px 10px;
    font-size: 1rem;
    cursor: pointer;
    color: #12130F;
    border: 2px solid #999;
    border-radius: 5px;
    margin: 10px 0;
    background: none;
    transition: 0.5s;
}

.btn-consulta button::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: #0077CC;
    transition: all 500ms ease;
    z-index: -1;
}

@media (max-width:750px) {
    .fondo-card {
        display: grid;
        grid-template-columns: 100%;
        margin: 10px;
        text-align: center;
        justify-content: center;
        justify-items: center;
    }
    .card-1 {
        margin: 15px 0;
    }
    .card-2 {
        margin: 15px 0;
    }
    .card-3 {
        margin: 15px 0;
    }
}