.cont-text {
    text-align: center;
}

.cont-text p {
    color: #474747;
    font-size: 1rem;
    padding: 10px 0;
}

.ctn-login {
    margin-top: -50px;
}

.pass-text {
    color: #474747;
    list-style: none;
    font-size: 0.9rem;
    width: 350px;
    padding: 20px 0;
    text-align: center;
}

.pass-text ul li {
    padding: 5px 0;
}

.ftftft {
    width: 500px;
}